#navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 45%;
  margin: auto;
  margin-top: 20px;
  padding: 12px;
  border-radius: 50px;

  background-color: var(--bg-color2);

  color: var(--text-color1);
  font-size: 1.1rem;
}

#navbar a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.2s;
}
#navbar a:hover{
  color: var(--text-color2);
}

.fa-instagram {
  color: #c9337b;

  transition: 0.2s;
}
.fa-instagram:hover {
  filter: brightness(200%);
}