/* GENERAL */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Segoe UI Black";
    font-size: 20px;
    background-image: url("../img/bg.png");
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  a {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  